# Copyright (c) 2015-17 Anirvan BASU, INRIA Rennes - Bretagne Atlantique
#
# Licensed under the CeCCIL-B license (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.html
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License. 

site: rennes                  # Grid 5000 site for deploying Ceph cluster
cluster: parasilo             # Grid 5000 cluster in specified site
job-name: cephDeploy          # Grid'5000 job name for deployed Ceph cluster
env: "wheezy-x64-nfs"         # G5K environment to be deployed
num-nodes: 4                  # Nodes in Ceph cluster
walltime: "3:00:00"           # Walltime for Ceph cluster deployed

release: firefly              # Ceph Release name
cluster-name: ceph            # Ceph cluster name
multi-osd: true               # Multiple OSDs on each node
pool-name: pool               # Name of Ceph pool to create (added "userid_")
pool-size: 14400              # Size of pool to create on deployed Ceph cluster
rbd-name: image               # Name of rbd to create inside Ceph pool
rbd-size: 14400               # Size of rbd to create inside Ceph pool
file-system: xfs              # File System format on OSD disks and in created RBD
mnt-depl: "ceph-depl"         # Mount point for RBD on deployed cluster
mnt-prod: "ceph-prod"         # Mount point for RBD on production cluster

job-client: cephClient        # Grid'5000 job name for Ceph clients
managed-cluster: rennes       # site for managed Ceph cluster: 'rennes' or 'nantes'
multi-client: false           # Multiple clients to access Ceph Managed cluster
num-client: 4                 # Nodes in Ceph Client cluster
env-client: "jessie-x64-big"  # G5K environment for Ceph clients
only-deploy: false            # Only deploy linux image but don't configure Ceph client
client-pool-name: pool        # Pool name on each Ceph client (added "userid_")
client-pool-size: 14400       # Pool size for each Ceph client (~ pool-size/num-clients)
client-rbd-name: image        # RBD name on each Ceph client (added "userid_")
client-rbd-size: 14400        # RBD size for each Ceph client (~ rbd-size/num-clients)
no-deployed: false            # Not using deployed Ceph cluster (false = using deployed)

hadoop-cluster: deployed      # Hadoop on Ceph cluster: 'deployed' OR 'managed'
hadoop: start                 # start, stop, restart Hadoop cluster

